extends _base
block content
  h3 You just asked to reset your password!
  p Please click the button below to reset your password.

  h4 If you can not click on the button, please copy and paste the link manually into the browser bar:

  p #{url}

  center.call-action
    a.mui-btn.mui-btn--raised.mui-btn--primary(href=url, target="_blank") Reset Password
